* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}
.landing-page{
	height: 100vh;
	width: 100%;
	background-image: url(images/land5.jpg);
	background-size: cover;
	border: 1px solid black;
}
.landing{
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 180px;
	padding: 30px;
}
.lemonBar{
	font-size: 35px;
	color: #ffd32a;
}
.landing-btn{
	margin-top: 60px;
}
.btn-order-now{
	padding: 10px;
	font-size: 25px;
	border: 1px solid #05c46b;
	width: 30%;
	margin:auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.btn-order-now:hover{
	background-color: #05c46b;
	color: #fff;
}
.btn-order-now{
	color: #05c46b;
	text-decoration:none;
}