/* Make form look nice on smaller screens */
/*--- Media Queries --*/

@media screen and (max-width: 1024px) {
    .landing{
      margin-top: 500px;
    }
    .btn-order-now{
      width: 40%;
    }
    
    .carousel-inner .item img{
        height: 50vh !important;    
    }
    .carousel-caption h1{       
        margin-top: -300px;

    }

    .about-container{
         height: 60vh;
    }
    .about-image{
       margin-top: 50px;
    }
    .flavors-container{
        height: 100vh ;
    }
    .flavors-container > img{
       margin-left: 380px;
       height: 50px;
    }
    .order-overlay{
      width: 100%;
    }
    .branches-container{
        height: 90vh;
        margin: 0;

    }
    .contact-container{
        height: 60vh;
    }
     .footer-container{
      height: 83px;
    }
    .footer-copyright{
      font-size: 20px;
      
    }
    .footer-disclaimer h5{
      font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    
    .landing{
      width: 60%;
      margin-top: 350px;
    }
    .btn-order-now{
      width: 60%;
    }
    .carousel-caption h1{
        margin-top: -220px;
    }
   
    .about1, .about2{
      font-size: 15px;
    }
    .flavors-container{
        height: 150vh;
    }
    .flavors-container > img{
       margin-left: 255px;
       height: 50px;
    }
    .branches-container{
        height: 120vh;
    }
    .contact-container{
        height: 80vh;
    }
    
}
@media screen and (max-width: 414px) {
 
    .landing{
      margin-top: 230px;
      width: 100%;
    }
    .lemonBar{
      font-size: 20px;
    }
    .btn-order-now{
      font-size: 9px; 
    }
    .nav{
      float: left !important;

    }
    .carousel-caption h1{
        margin-top: -150px;
        font-size: 20px;
    }

    .about-container{
        height: 130vh;
    }
    
    .about-container h1, 
    .flavors-container h1, 
    .branches-container h1,
    .contact-container h1
    {
      font-size: 30px;
    }
    .about-section {
      flex-direction: column;
      margin: auto;

    }
    .about-image{
     width: 80%;
     margin-left: 40px;
     margin-top: -40px;
    }
    .flavors-container{
        height: 250vh;
    }
    .flavors-container > img{
       margin-left: 150px;
       height: 30px;
       width: 100px;
    }
    .flavors{
      height: 250px;
      width: 150px;
    }

    .flavors img{
      height: 190px;
      width: 150px;
    }
        
    .label-overlay h6{
      font-size: 8px;
    }
    
    .branches-container{
      
      height: 370vh;

    }
    .contact-container{
      height: 180vh;
      align-items: center;
    }
    .contact-section{
      align-items: center;
      flex-direction: column;
      
    }
    .contact-form{
      width: 80%;

    }
    .map{
      width: 80%;
    }
    .social-media a i{
      font-size: 20px;
    }

    
    .footer-container{
      height: 10vh;
    }
    .footer-disclaimer h5{
      font-size: 10px;
    }

    .footer-copyright{
      font-size: 10px;
      
    }
      
}
@media screen and (max-width: 375px) {
    .carousel-caption h1{
        margin-top: -145px;
    }
    .about-container{
         height: 120vh;
    }
    .flavors-container{
       height: 270vh; 
    }
    .flavors-container > img{
      margin-left: 135px;
     
    }
    .branches-container{
       height: 400vh;
    }
}
@media screen and (max-width: 320px) {
    .landing{
      margin-top: 180px;
     
    }
    .carousel-caption h1{
        margin-top: -115px;
    }
    .about1{
        font-size: 12px;
    }
    
    .flavors-container{
       height: 580vh; 
    }
    .flavors-container > img{
      margin-left: 120px;
      width: 80px;
      height: 20px;
      border-radius: 5px;
    }
    .branches-container{
       height: 460vh;
    }
    .contact-container{
      height: 220vh;
    }
    .footer-copyright{
      padding-top: 5px;
    }

}