* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;   
}
.navbar{
  background-color: #ffdd59 !important;
  border: none !important;
  width: 100% !important;
}

.navbar-header img{
  width: 70px;
  height: 50px;
}
#myNavbar ul li a{
  font-size: 20px !important;
  color: #44bd32;

}
.nav{
  float: right !important;

}
#myNavbar ul li a:hover{
  /*font-size: 20px !important;*/
  color: white;

}  
 
.carousel-caption h1{
    /*text-align: center;*/
    margin-top: -300px;

}

.about-container{
  background-color: #ecf0f1;
  height: 120vh;
  width: 100%;
  border: 2px solid #ecf0f1;

}
.about-container h1{
  margin-top: 50px; 
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  color: #44bd32;
}
.about-section {

    height: 80vh;
    display: flex;
    flex-direction: row;
    
}
.about1{
  padding: 40px;
  font-size: 20px; 
  text-align: justify;
  /*width: 33.3%;*/
  flex: 1;
}
.about-image{
 
  flex: 1;
  margin-right: 30px;
}


/*Start or flavor*/

.flavors-container{
  border: 1px solid #ffff99;
  background-color: #ffff99; 
  height: 150vh;
  width: 100%;

}
.flavors-container > img{
  margin-left: 105px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
}
.flavors-container h1{
  margin-top: 50px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  color: #44bd32;
}
.flavors-section{
  margin: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.flavors{
  height: 300px;
  width: 180px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 5px;
  border: 1px solid #44bd32;

}
.flavors img{
  height: 250px;
  width: 180px;
}

.label-overlay{
  width: 100%;
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(0,0,0,0.8);
}
.order-overlay{
  border: 1px solid #44bd32;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

}
.label-overlay h6{
  color: #fff;

}
.btn-order{
  background-color: #44bd32;
  border: 1px solid #fff;
  height: 40px;
  width: 100%;
  color: yellow;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 3px;
}
.btn-order:hover{
  background-color: #fff;
  border: 1px solid #44bd32;
 color: #44bd32;
}

/*start branch section*/
.branches-container{
  background-color: #ecf0f1;
  height: 120vh;
  width: 100%;
  border: 2px solid #ecf0f1;

}
.branches-container h1{
  margin-top: 50px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  color: #44bd32;
}
.branches-section{
  /*border: 2px solid red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
 

.branch{
  /*border: 2px solid pink;*/
  height: 235px;
  width: 220px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 5px;

}
.branch img{
  height: 200px;
  width: 220px;
  transition: 0.5s;
}
.branch img:hover{
  transform: scale(1.5);
}
.branch-overlay{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(0,0,0,0.8);
}
.branch-overlay h6{
  color: #fff;

}

/*Contact Form */
.contact-container{
  background-color: #ffff99;
  height: 130vh;
  overflow-x:hidden; 
  overflow-y:hidden; 
  border:1px solid #ffff99;
}
.contact-container h1{
  margin-top: 50px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  color: #44bd32;
}
.contact-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.contact-form{
  border:1px solid #44bd32;
  width: 40%;
  padding-left: 50px;
  padding-right: 50px;
}

label{
  font-size: 15px;
  /*color: #44bd32;*/
}

.btn-submit{
  background-color: #44bd32;
  border: 1px solid #fff;
  height: 40px;
  width: 100px;
  color: yellow;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 3px;
}
.btn-submit:hover{
  background-color: #fff;
  border: 1px solid #44bd32;
 color: #44bd32;
}
.social-media{
  margin-top: 50px;
  font-size: 30px;
}
.social-media i{
  color: #6ab04c;
}
.social-media i:hover{
  color: #fff;

}
.map{

  height: 100%;
  width: 40%;
  /*border: 1px solid #44bd32;*/
}
iframe{
  width: 100%;
}
.footer-container{
  height: 15vh;
  width: 100%;
  text-align: center;
  background-color: #ecf0f1;
  color:#6ab04c;
}
.footer-copyright{
  padding-top: 20px;
}
.footer-disclaimer h5{
  font-weight: bold;
}